/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/
/vendor
/.vscode
/.idea
/.cursor
.phpunit.result.cache
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/uploads/business_logos
/public/uploads/documents
/public/uploads/img
/public/uploads/media
/public/uploads/invoice_logos
/public/uploads/UltimatePOS
/public/uploads/temp
# User-uploaded storefront media (keep CORS .htaccess tracked)
/public/uploads/storefront_homepage/**
!/public/uploads/storefront_homepage/.htaccess
/public/uploads/storefront_library/**
!/public/uploads/storefront_library/.htaccess
/public/uploads/storefront_favicon/**
/public/css/
/public/fonts/
/public/images/
/public/modules/
/public/.rnd
/public/mix-manifest.json
.scribe
.ftpquota
public/.rnd
/public/docs
/public/js/skins/
/public/js/icons/
/packages/
/.ftpquota
fawrypay-woocommerce-card/
fawrypay-woocommerce-cash/
fawrypay-woocommerce-main/
fawrypay-woocommerce-wallet/
woocommerce/
gamesspot-api/
bosta-woocommerce/